/* custom.css */

body {
  font-family: "Merriweather", serif;
}

img {
  max-width: 100%;
}

.feature-bg {
  background: rgba(255, 255, 255, 0.3);
  width: 100vw;
  border-radius: 10px;
}

.feature-text {
  font-size: 2rem;
  line-height: 4rem;
}

.header_img {
  min-height: 25vh;
}

.card {
  margin-bottom: 20px;
}

/* Welcome section */
#welcome .card-text {
  font-size: 1.2rem;
}

/* Latest offers section */

#latest-offers span {
  position: absolute;
  background: rgba(175, 169, 169, 0.6);
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 100%;
  top: -40px;
  left: -40px;
  margin-left: 50%;
  font-size: 1.8rem;
}

/* Price List section */

#price-list .title {
  color: goldenrod;
}

#price-list .list-group-item {
  background: none;
  font-size: 1.1em;
}

@media screen and (min-width: 768px) {
  .feature-bg {
    width: 60vw;
  }
}

@media screen and (min-width: 600px) {
  .feature-text {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .feature-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

/* Reference: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}
  */

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}
 */

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}
 */

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}
 */

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} 
 */
